<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- stylesheets -->
<link type="text/css" rel="stylesheet" href="/libs/bootstrap.min.css"
onerror="this.href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css'">
<link type="text/css" rel="stylesheet" href="/main.css">
<link type="text/css" rel="stylesheet" href="/colors.css">

<!-- scripts -->
<script type="text/javascript">
    var script = document.createElement('script');
    script.src = '/libs/bootstrap.bundle.min.js';

    script.onerror = () => {
        var cdnScript = document.createElement('script');
        cdnScript.src = 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js';
        document.head.appendChild(cdnScript);
    };

    document.head.appendChild(script);
</script>

<link rel="icon" type="image/png" href="/files/icon.png">
<title>APISentinel <% if (locals.title) { %><%= '- ' + title %><% } %></title>