<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>
<body class="bg-seasalt">
    <%- include('partials/menubar')  %>

    <main role="main" class="container mt-4">
        <h1>Homepage</h1>
        <hr>
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 d-flex flex-wrap">
        <% for(let i = 0; i < sessions.length; i++) { %>
            <div class="col d-flex">
                <div class="card flex-fill h-100">
                    <div class="card-body">
                        <h5 class="card-title"><%= sessions[i] %></h5>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        <% } %>
    </main>
</body>
