<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body class="bg-seasalt">
    <%- include('partials/menubar') %>
    
    <main role="main" class="container mt-4">
        <h1>Homepage - Session</h1>
    </main>
</body>
