<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body class="bg-seasalt">
    <%- include('partials/menubar.ejs')  %>
    
    <main role="main" class="container mt-4">
        <pre><%=result.toString() %></pre>
    </main>
</body>
