body {
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.content-result {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 5px;
}

.renderjson a              { text-decoration: none; }
.renderjson .disclosure    { color: black; }
.renderjson .syntax        { color: grey; }
.renderjson .string        { color: olive;; }
.renderjson .number        { color: navy; }
.renderjson .boolean       { color: blue; }
.renderjson .key           { color: brown; }
.renderjson .keyword       { color: orangered; }
.renderjson .object.syntax { color: grey; }
.renderjson .array.syntax  { color: grey; }
